body {
  margin: 0;
  font-family: Tahoma;
  background: radial-gradient(circle, #111, #000);
  color: gold;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/3/3b/Persepolis.jpg")
    center/cover no-repeat;
  border-bottom: 4px solid gold;
}

.hero h1 {
  font-size: 65px;
  text-shadow: 3px 3px black;
}

.hero p {
  font-size: 20px;
  color: #ffe7a8;
}

.top-symbols img {
  width: 80px;
  margin: 10px;
  filter: drop-shadow(2px 2px 6px black);
}

.hero input {
  margin-top: 25px;
  padding: 12px;
  width: 60%;
  max-width: 500px;
  border-radius: 12px;
  border: 2px solid gold;
  background: rgba(0,0,0,0.7);
  color: gold;
  font-size: 18px;
  outline: none;
}

/* Layout */
.layout {
  display: flex;
  min-height: 90vh;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background: linear-gradient(#1a1a1a, #000);
  padding: 20px;
  border-left: 3px solid gold;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border: 1px solid gold;
  background: transparent;
  color: gold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.sidebar button:hover {
  background: gold;
  color: black;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 18px;
  padding: 20px;
}

.card {
  background: rgba(255,215,0,0.08);
  border: 1px solid gold;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: rgba(255,215,0,0.18);
}

.card h3 {
  font-size: 18px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
}

.modal-box {
  background: #111;
  border: 2px solid gold;
  border-radius: 15px;
  max-width: 700px;
  margin: 80px auto;
  padding: 20px;
}

.close {
  float: left;
  cursor: pointer;
  font-size: 22px;
}
